.absolute {
  position: absolute
}

.m-1 {
  margin: 0.25rem
}

.flex {
  display: flex
}

.h-8 {
  height: 2rem
}

.h-10 {
  height: 2.5rem
}

.h-11 {
  height: 2.75rem
}

.w-8 {
  width: 2rem
}

.w-10 {
  width: 2.5rem
}

.w-11 {
  width: 2.75rem
}

.flex-row {
  flex-direction: row
}

.flex-wrap {
  flex-wrap: wrap
}

.justify-center {
  justify-content: center
}

.rounded {
  border-radius: 0.25rem
}

.rounded-full {
  border-radius: 9999px
}

.border-4 {
  border-width: 4px
}
